* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Josefin Sans", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}
nav li:first-child {
	flex-basis: 100%;
	text-align: center;
}
.navbar {
	color: white;
	padding: 20px;
	background-color: lightblue;
	font-size: 1.3em;
}
nav [class="fa"] {
	font-size: 150%;
}
nav a {
	padding: 10px;
	color: white;
	display: block;
	text-decoration: none;
}
nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 2rem;
	align-items: center;
}
@media (min-width: 768px) {
	nav {
		max-width: 1200px;
		margin: 0 auto;
	}
	nav li:first-child {
		flex-basis: auto;
		text-align: left;
		margin-right: auto;
	}
}
.about {
	background-color: lightblue;
	padding: 20px;
	color: white;
	line-height: 2.5rem;
	text-align: center;
	font-size: 1.3em;
}
.about ul {
	color: white;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
	align-items: center;
}
footer {
	text-align: center;
	color: white;
	background-color: lightblue;

	padding: 10px;
}
